<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>DeliveryAddress</key>
		<string></string>
		<key>DeliveryCiry</key>
		<string></string>
		<key>DeliveryMethod</key>
		<string>自提</string>
		<key>DeliveryName</key>
		<string>白晓波</string>
		<key>DeliveryPhone</key>
		<string>15515932669</string>
		<key>Theme</key>
		<string></string>
	</dict>
	<key>2</key>
	<dict>
		<key>DeliveryAddress</key>
		<string></string>
		<key>DeliveryCiry</key>
		<string></string>
		<key>DeliveryMethod</key>
		<string>自提</string>
		<key>DeliveryName</key>
		<string>包峻菘</string>
		<key>DeliveryPhone</key>
		<string>15890613366</string>
		<key>Theme</key>
		<string>中国水墨</string>
	</dict>
	<key>5</key>
	<dict>
		<key>DeliveryAddress</key>
		<string></string>
		<key>DeliveryCiry</key>
		<string></string>
		<key>DeliveryMethod</key>
		<string>自提</string>
		<key>DeliveryName</key>
		<string>单晓涵</string>
		<key>DeliveryPhone</key>
		<string>18613721350</string>
		<key>Theme</key>
		<string></string>
	</dict>
	<key>6</key>
	<dict>
		<key>DeliveryAddress</key>
		<string>郑州</string>
		<key>DeliveryCiry</key>
		<string>金水区国基路街道花园路汽配大世界对面76中家属院四号楼三单元二楼西户</string>
		<key>DeliveryMethod</key>
		<string>郑州市内</string>
		<key>DeliveryName</key>
		<string>jin慧敏</string>
		<key>DeliveryPhone</key>
		<string>13503828483</string>
		<key>Theme</key>
		<string>中国水墨</string>
	</dict>
	<key>8</key>
	<dict>
		<key>DeliveryAddress</key>
		<string></string>
		<key>DeliveryCiry</key>
		<string></string>
		<key>DeliveryMethod</key>
		<string>电子版</string>
		<key>DeliveryName</key>
		<string>黄瀚洋</string>
		<key>DeliveryPhone</key>
		<string>18736056508</string>
		<key>Theme</key>
		<string>工业黑</string>
	</dict>
	<key>9</key>
	<dict>
		<key>DeliveryAddress</key>
		<string>郑州</string>
		<key>DeliveryCiry</key>
		<string>郑州第四十九中学</string>
		<key>DeliveryMethod</key>
		<string>郑州市内</string>
		<key>DeliveryName</key>
		<string>黄新光</string>
		<key>DeliveryPhone</key>
		<string>13523067992</string>
		<key>Theme</key>
		<string>鲁路修</string>
	</dict>
	<key>10</key>
	<dict>
		<key>DeliveryAddress</key>
		<string>郑州</string>
		<key>DeliveryCiry</key>
		<string>桐柏路61号院25号楼2单元3楼东</string>
		<key>DeliveryMethod</key>
		<string>郑州市内</string>
		<key>DeliveryName</key>
		<string>籍亚飞</string>
		<key>DeliveryPhone</key>
		<string>13526468379</string>
		<key>Theme</key>
		<string>中国水墨</string>
	</dict>
	<key>11</key>
	<dict>
		<key>DeliveryAddress</key>
		<string></string>
		<key>DeliveryCiry</key>
		<string></string>
		<key>DeliveryMethod</key>
		<string>自提</string>
		<key>DeliveryName</key>
		<string>蒋雨宏</string>
		<key>DeliveryPhone</key>
		<string>18236956103</string>
		<key>Theme</key>
		<string>中国水墨</string>
	</dict>
	<key>12</key>
	<dict>
		<key>DeliveryAddress</key>
		<string></string>
		<key>DeliveryCiry</key>
		<string></string>
		<key>DeliveryMethod</key>
		<string>自提</string>
		<key>DeliveryName</key>
		<string>荆玉洁</string>
		<key>DeliveryPhone</key>
		<string>13721412503</string>
		<key>Theme</key>
		<string>中国水墨</string>
	</dict>
	<key>14</key>
	<dict>
		<key>DeliveryAddress</key>
		<string></string>
		<key>DeliveryCiry</key>
		<string></string>
		<key>DeliveryMethod</key>
		<string>自提</string>
		<key>DeliveryName</key>
		<string>李培昀</string>
		<key>DeliveryPhone</key>
		<string>13503837418</string>
		<key>Theme</key>
		<string>中国水墨</string>
	</dict>
	<key>16</key>
	<dict>
		<key>DeliveryAddress</key>
		<string></string>
		<key>DeliveryCiry</key>
		<string></string>
		<key>DeliveryMethod</key>
		<string>自提</string>
		<key>DeliveryName</key>
		<string>李晟邦</string>
		<key>DeliveryPhone</key>
		<string>13592432900</string>
		<key>Theme</key>
		<string>中国水墨</string>
	</dict>
	<key>18</key>
	<dict>
		<key>DeliveryAddress</key>
		<string></string>
		<key>DeliveryCiry</key>
		<string></string>
		<key>DeliveryMethod</key>
		<string>自提</string>
		<key>DeliveryName</key>
		<string>李泉臻</string>
		<key>DeliveryPhone</key>
		<string>13603997355</string>
		<key>Theme</key>
		<string>中国水墨</string>
	</dict>
	<key>19</key>
	<dict>
		<key>DeliveryAddress</key>
		<string>郑州市</string>
		<key>DeliveryCiry</key>
		<string>金水区国基路99号7号楼1单元7号</string>
		<key>DeliveryMethod</key>
		<string>郑州市内</string>
		<key>DeliveryName</key>
		<string>李泽昊</string>
		<key>DeliveryPhone</key>
		<string>18625780117</string>
		<key>Theme</key>
		<string>工业白</string>
	</dict>
	<key>20</key>
	<dict>
		<key>DeliveryAddress</key>
		<string>河南省郑州市</string>
		<key>DeliveryCiry</key>
		<string>河南省郑州市管城回族区南曹乡</string>
		<key>DeliveryMethod</key>
		<string>郑州市内</string>
		<key>DeliveryName</key>
		<string>李振东</string>
		<key>DeliveryPhone</key>
		<string>13017655276</string>
		<key>Theme</key>
		<string>星空</string>
	</dict>
	<key>21</key>
	<dict>
		<key>DeliveryAddress</key>
		<string></string>
		<key>DeliveryCiry</key>
		<string></string>
		<key>DeliveryMethod</key>
		<string>自提</string>
		<key>DeliveryName</key>
		<string>李梓萱</string>
		<key>DeliveryPhone</key>
		<string>18237120991</string>
		<key>Theme</key>
		<string></string>
	</dict>
	<key>22</key>
	<dict>
		<key>DeliveryAddress</key>
		<string>高新区升龙又一城b区</string>
		<key>DeliveryCiry</key>
		<string>郑州</string>
		<key>DeliveryMethod</key>
		<string>郑州市内</string>
		<key>DeliveryName</key>
		<string>刘琮滢</string>
		<key>DeliveryPhone</key>
		<string>13607652705</string>
		<key>Theme</key>
		<string>工业白</string>
	</dict>
	<key>23</key>
	<dict>
		<key>DeliveryAddress</key>
		<string></string>
		<key>DeliveryCiry</key>
		<string></string>
		<key>DeliveryMethod</key>
		<string>自提</string>
		<key>DeliveryName</key>
		<string>刘莊</string>
		<key>DeliveryPhone</key>
		<string>17737761164</string>
		<key>Theme</key>
		<string>工业白</string>
	</dict>
	<key>24</key>
	<dict>
		<key>DeliveryAddress</key>
		<string>郑州</string>
		<key>DeliveryCiry</key>
		<string>货站街21号72422部队财务室</string>
		<key>DeliveryMethod</key>
		<string>郑州市内</string>
		<key>DeliveryName</key>
		<string>刘艳丽</string>
		<key>DeliveryPhone</key>
		<string>13663812117</string>
		<key>Theme</key>
		<string>中国水墨</string>
	</dict>
	<key>25</key>
	<dict>
		<key>DeliveryAddress</key>
		<string></string>
		<key>DeliveryCiry</key>
		<string></string>
		<key>DeliveryMethod</key>
		<string>自提</string>
		<key>DeliveryName</key>
		<string>麻银雪</string>
		<key>DeliveryPhone</key>
		<string>13526838167</string>
		<key>Theme</key>
		<string></string>
	</dict>
	<key>26</key>
	<dict>
		<key>DeliveryAddress</key>
		<string>郑州市管城区航海路紫荆山路交叉口西南角铁道安顺家园</string>
		<key>DeliveryCiry</key>
		<string>郑州市二七区</string>
		<key>DeliveryMethod</key>
		<string>郑州市内</string>
		<key>DeliveryName</key>
		<string>牛超群</string>
		<key>DeliveryPhone</key>
		<string>13460335228</string>
		<key>Theme</key>
		<string>星空</string>
	</dict>
	<key>27</key>
	<dict>
		<key>DeliveryAddress</key>
		<string></string>
		<key>DeliveryCiry</key>
		<string></string>
		<key>DeliveryMethod</key>
		<string>自提</string>
		<key>DeliveryName</key>
		<string>niumofan</string>
		<key>DeliveryPhone</key>
		<string>13938267307</string>
		<key>Theme</key>
		<string></string>
	</dict>
	<key>28</key>
	<dict>
		<key>DeliveryAddress</key>
		<string>郑州</string>
		<key>DeliveryCiry</key>
		<string>河南省郑州市管城回族区陇海东路61号院38号楼19号</string>
		<key>DeliveryMethod</key>
		<string>郑州市内</string>
		<key>DeliveryName</key>
		<string>牛同昕</string>
		<key>DeliveryPhone</key>
		<string>15037185056</string>
		<key>Theme</key>
		<string>工业白</string>
	</dict>
	<key>30</key>
	<dict>
		<key>DeliveryAddress</key>
		<string>郑州</string>
		<key>DeliveryCiry</key>
		<string>郑州市管城区石化路69号院6号楼1单元305</string>
		<key>DeliveryMethod</key>
		<string>郑州市内</string>
		<key>DeliveryName</key>
		<string>尚策</string>
		<key>DeliveryPhone</key>
		<string>18299756282</string>
		<key>Theme</key>
		<string></string>
	</dict>
	<key>31</key>
	<dict>
		<key>DeliveryAddress</key>
		<string></string>
		<key>DeliveryCiry</key>
		<string></string>
		<key>DeliveryMethod</key>
		<string>电子版</string>
		<key>DeliveryName</key>
		<string>司文博</string>
		<key>DeliveryPhone</key>
		<string>13526773465</string>
		<key>Theme</key>
		<string>星空</string>
	</dict>
	<key>35</key>
	<dict>
		<key>DeliveryAddress</key>
		<string></string>
		<key>DeliveryCiry</key>
		<string></string>
		<key>DeliveryMethod</key>
		<string>自提</string>
		<key>DeliveryName</key>
		<string>王一波</string>
		<key>DeliveryPhone</key>
		<string>13523085852</string>
		<key>Theme</key>
		<string>工业黑</string>
	</dict>
	<key>36</key>
	<dict>
		<key>DeliveryAddress</key>
		<string></string>
		<key>DeliveryCiry</key>
		<string></string>
		<key>DeliveryMethod</key>
		<string>自提</string>
		<key>DeliveryName</key>
		<string>王仪鑫</string>
		<key>DeliveryPhone</key>
		<string>18538320293</string>
		<key>Theme</key>
		<string>中国水墨</string>
	</dict>
	<key>37</key>
	<dict>
		<key>DeliveryAddress</key>
		<string></string>
		<key>DeliveryCiry</key>
		<string></string>
		<key>DeliveryMethod</key>
		<string>自提</string>
		<key>DeliveryName</key>
		<string>王湛清</string>
		<key>DeliveryPhone</key>
		<string>18903814298</string>
		<key>Theme</key>
		<string>星空</string>
	</dict>
	<key>39</key>
	<dict>
		<key>DeliveryAddress</key>
		<string></string>
		<key>DeliveryCiry</key>
		<string></string>
		<key>DeliveryMethod</key>
		<string>自提</string>
		<key>DeliveryName</key>
		<string>卫梦琪</string>
		<key>DeliveryPhone</key>
		<string>15037177926</string>
		<key>Theme</key>
		<string>中国水墨</string>
	</dict>
	<key>40</key>
	<dict>
		<key>DeliveryAddress</key>
		<string></string>
		<key>DeliveryCiry</key>
		<string></string>
		<key>DeliveryMethod</key>
		<string>郑州市内</string>
		<key>DeliveryName</key>
		<string>魏玉</string>
		<key>DeliveryPhone</key>
		<string>13673676796</string>
		<key>Theme</key>
		<string>中国水墨</string>
	</dict>
	<key>41</key>
	<dict>
		<key>DeliveryAddress</key>
		<string></string>
		<key>DeliveryCiry</key>
		<string></string>
		<key>DeliveryMethod</key>
		<string>自提</string>
		<key>DeliveryName</key>
		<string>咸硕</string>
		<key>DeliveryPhone</key>
		<string>15039079418</string>
		<key>Theme</key>
		<string>工业白</string>
	</dict>
	<key>42</key>
	<dict>
		<key>DeliveryAddress</key>
		<string></string>
		<key>DeliveryCiry</key>
		<string></string>
		<key>DeliveryMethod</key>
		<string>自提</string>
		<key>DeliveryName</key>
		<string>邢万理</string>
		<key>DeliveryPhone</key>
		<string>13633863766</string>
		<key>Theme</key>
		<string></string>
	</dict>
	<key>43</key>
	<dict>
		<key>DeliveryAddress</key>
		<string></string>
		<key>DeliveryCiry</key>
		<string></string>
		<key>DeliveryMethod</key>
		<string>自提</string>
		<key>DeliveryName</key>
		<string>徐晨铭</string>
		<key>DeliveryPhone</key>
		<string>15838578279</string>
		<key>Theme</key>
		<string></string>
	</dict>
	<key>44</key>
	<dict>
		<key>DeliveryAddress</key>
		<string></string>
		<key>DeliveryCiry</key>
		<string></string>
		<key>DeliveryMethod</key>
		<string>自提</string>
		<key>DeliveryName</key>
		<string>杨妍菲</string>
		<key>DeliveryPhone</key>
		<string>13673676796</string>
		<key>Theme</key>
		<string>工业白</string>
	</dict>
	<key>45</key>
	<dict>
		<key>DeliveryAddress</key>
		<string></string>
		<key>DeliveryCiry</key>
		<string></string>
		<key>DeliveryMethod</key>
		<string>自提</string>
		<key>DeliveryName</key>
		<string>杨雨馨</string>
		<key>DeliveryPhone</key>
		<string>15136268075</string>
		<key>Theme</key>
		<string></string>
	</dict>
	<key>46</key>
	<dict>
		<key>DeliveryAddress</key>
		<string>丰泽园c区十号楼二单元</string>
		<key>DeliveryCiry</key>
		<string>焦作</string>
		<key>DeliveryMethod</key>
		<string>郑州市外</string>
		<key>DeliveryName</key>
		<string>岳一凡</string>
		<key>DeliveryPhone</key>
		<string>15639190006</string>
		<key>Theme</key>
		<string></string>
	</dict>
	<key>47</key>
	<dict>
		<key>DeliveryAddress</key>
		<string></string>
		<key>DeliveryCiry</key>
		<string></string>
		<key>DeliveryMethod</key>
		<string>自提</string>
		<key>DeliveryName</key>
		<string>张博文</string>
		<key>DeliveryPhone</key>
		<string>18339271560</string>
		<key>Theme</key>
		<string>星空</string>
	</dict>
	<key>48</key>
	<dict>
		<key>DeliveryAddress</key>
		<string></string>
		<key>DeliveryCiry</key>
		<string></string>
		<key>DeliveryMethod</key>
		<string>自提</string>
		<key>DeliveryName</key>
		<string>张晨</string>
		<key>DeliveryPhone</key>
		<string>15937155703</string>
		<key>Theme</key>
		<string>工业白</string>
	</dict>
	<key>49</key>
	<dict>
		<key>DeliveryAddress</key>
		<string></string>
		<key>DeliveryCiry</key>
		<string></string>
		<key>DeliveryMethod</key>
		<string>电子版</string>
		<key>DeliveryName</key>
		<string>张格</string>
		<key>DeliveryPhone</key>
		<string>15837180116</string>
		<key>Theme</key>
		<string>星空</string>
	</dict>
	<key>54</key>
	<dict>
		<key>DeliveryAddress</key>
		<string>郑州</string>
		<key>DeliveryCiry</key>
		<string>金水区金水路226号楷林国际18楼</string>
		<key>DeliveryMethod</key>
		<string>郑州市内</string>
		<key>DeliveryName</key>
		<string>张春良</string>
		<key>DeliveryPhone</key>
		<string>13607688362</string>
		<key>Theme</key>
		<string></string>
	</dict>
	<key>55</key>
	<dict>
		<key>DeliveryAddress</key>
		<string></string>
		<key>DeliveryCiry</key>
		<string></string>
		<key>DeliveryMethod</key>
		<string>自提</string>
		<key>DeliveryName</key>
		<string>赵锂想</string>
		<key>DeliveryPhone</key>
		<string>15003883063</string>
		<key>Theme</key>
		<string>星空</string>
	</dict>
	<key>56</key>
	<dict>
		<key>DeliveryAddress</key>
		<string></string>
		<key>DeliveryCiry</key>
		<string></string>
		<key>DeliveryMethod</key>
		<string>自提</string>
		<key>DeliveryName</key>
		<string>郑颢琳</string>
		<key>DeliveryPhone</key>
		<string>15803897723</string>
		<key>Theme</key>
		<string>星空</string>
	</dict>
	<key>57</key>
	<dict>
		<key>DeliveryAddress</key>
		<string>辽宁路丽新路交叉口万达对面工商银行</string>
		<key>DeliveryCiry</key>
		<string>河南省洛阳市涧西区</string>
		<key>DeliveryMethod</key>
		<string>郑州市内</string>
		<key>DeliveryName</key>
		<string>郑泽豪</string>
		<key>DeliveryPhone</key>
		<string>18736369593</string>
		<key>Theme</key>
		<string>中国水墨</string>
	</dict>
	<key>59</key>
	<dict>
		<key>DeliveryAddress</key>
		<string></string>
		<key>DeliveryCiry</key>
		<string></string>
		<key>DeliveryMethod</key>
		<string>郑州市内</string>
		<key>DeliveryName</key>
		<string>朱亚婷</string>
		<key>DeliveryPhone</key>
		<string>15136224113</string>
		<key>Theme</key>
		<string>猫咪</string>
	</dict>
	<key>60</key>
	<dict>
		<key>DeliveryAddress</key>
		<string></string>
		<key>DeliveryCiry</key>
		<string></string>
		<key>DeliveryMethod</key>
		<string>自提</string>
		<key>DeliveryName</key>
		<string>邹凯璐</string>
		<key>DeliveryPhone</key>
		<string>18695877383</string>
		<key>Theme</key>
		<string>水团</string>
	</dict>
</dict>
</plist>
