<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>朱继贤</string>
	<string>白晓波</string>
	<string>包峻菘</string>
	<string>操书坤</string>
	<string>曾智</string>
	<string>单晓涵</string>
	<string>杜诗晗</string>
	<string>韩雪</string>
	<string>黄瀚洋</string>
	<string>黄新光</string>
	<string>籍亚飞</string>
	<string>蒋雨宏</string>
	<string>荆玉洁</string>
	<string>雷鹏飞</string>
	<string>李培昀</string>
	<string>李倩</string>
	<string>李晟邦</string>
	<string>李晟赫</string>
	<string>李泉臻</string>
	<string>李泽昊</string>
	<string>李振东</string>
	<string>李梓萱</string>
	<string>刘琮滢</string>
	<string>刘莊</string>
	<string>吕源林</string>
	<string>麻银雪</string>
	<string>牛超群</string>
	<string>牛末凡</string>
	<string>牛同昕</string>
	<string>任自强</string>
	<string>尚策</string>
	<string>司文博</string>
	<string>田俊杰</string>
	<string>王卜凡</string>
	<string>王辰磊</string>
	<string>王一波</string>
	<string>王仪鑫</string>
	<string>王湛清</string>
	<string>王卓</string>
	<string>卫梦琪</string>
	<string>魏玉</string>
	<string>咸硕</string>
	<string>邢万理</string>
	<string>徐晨铭</string>
	<string>杨妍菲</string>
	<string>杨雨馨</string>
	<string>岳一凡</string>
	<string>张博文</string>
	<string>张晨</string>
	<string>张格</string>
	<string>张聚一</string>
	<string>张蓝兮</string>
	<string>张璐</string>
	<string>张翼翔</string>
	<string>张哲</string>
	<string>赵锂想</string>
	<string>郑颢琳</string>
	<string>郑泽豪</string>
	<string>周云利</string>
	<string>朱亚婷</string>
	<string>邹凯璐</string>
	<string>赵泉熙</string>
	<string>王黎丽</string>
	<string>武莹莹</string>
	<string>扶云松</string>
	<string>刘圣云</string>
	<string>李亚琦</string>
	<string>张亦飞</string>
</array>
</plist>
