<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<array>
		<integer>224</integer>
		<string>137</string>
		<string>919</string>
		<string>460</string>
	</array>
	<key>Sex</key>
	<array>
		<integer>1085</integer>
		<integer>137</integer>
		<integer>1558</integer>
		<integer>460</integer>
	</array>
	<key>Const</key>
	<array>
		<integer>1710</integer>
		<integer>137</integer>
		<integer>2363</integer>
		<integer>460</integer>
	</array>
	<key>Blood</key>
	<array>
		<integer>219</integer>
		<integer>488</integer>
		<integer>549</integer>
		<integer>683</integer>
	</array>
	<key>Mobile</key>
	<array>
		<integer>689</integer>
		<integer>483</integer>
		<integer>1433</integer>
		<integer>686</integer>
	</array>
	<key>QQ</key>
	<array>
		<integer>1577</integer>
		<integer>485</integer>
		<integer>2350</integer>
		<integer>690</integer>
	</array>
	<key>Birth</key>
	<array>
		<integer>220</integer>
		<integer>702</integer>
		<integer>1150</integer>
		<integer>914</integer>
	</array>
	<key>Mail</key>
	<array>
		<integer>1303</integer>
		<integer>706</integer>
		<integer>2351</integer>
		<integer>911</integer>
	</array>
	<key>Dream</key>
	<array>
		<integer>221</integer>
		<integer>924</integer>
		<integer>2366</integer>
		<integer>1136</integer>
	</array>
	<key>Skill</key>
	<array>
		<integer>224</integer>
		<integer>1149</integer>
		<integer>2335</integer>
		<integer>1362</integer>
	</array>
	<key>Idol</key>
	<array>
		<integer>225</integer>
		<integer>1375</integer>
		<integer>771</integer>
		<integer>1754</integer>
	</array>
	<key>Movie</key>
	<array>
		<integer>916</integer>
		<integer>1375</integer>
		<real>1554</real>
		<integer>1753</integer>
	</array>
	<key>Music</key>
	<array>
		<integer>1699</integer>
		<integer>1374</integer>
		<integer>2354</integer>
		<integer>1754</integer>
	</array>
	<key>Color</key>
	<array>
		<integer>227</integer>
		<integer>1781</integer>
		<integer>602</integer>
		<integer>2155</integer>
	</array>
	<key>Animal</key>
	<array>
		<integer>755</integer>
		<integer>1782</integer>
		<integer>1245</integer>
		<integer>2147</integer>
	</array>
	<key>Book</key>
	<array>
		<integer>1397</integer>
		<integer>1776</integer>
		<integer>2348</integer>
		<integer>2154</integer>
	</array>
	<key>Anime</key>
	<array>
		<integer>225</integer>
		<integer>2177</integer>
		<integer>1125</integer>
		<integer>2551</integer>
	</array>
	<key>Place</key>
	<array>
		<integer>1271</integer>
		<integer>2180</integer>
		<integer>2354</integer>
		<integer>2548</integer>
	</array>
	<key>Words</key>
	<array>
		<integer>228</integer>
		<integer>2573</integer>
		<integer>2346</integer>
		<integer>2809</integer>
	</array>
	<key>Other</key>
	<array>
		<integer>221</integer>
		<integer>2835</integer>
		<integer>1836</integer>
		<integer>3378</integer>
	</array>
	<key>Photo</key>
	<array>
		<integer>1866</integer>
		<real>2839</real>
		<integer>2351</integer>
		<real>3378</real>
	</array>
</dict>
</plist>
